# Optional override — defaults to the InnovAgents Mailchimp embedded form URL
VITE_MAILCHIMP_URL=https://innovagentsai.us7.list-manage.com/subscribe/post?u=edbbbe38d3591cf941b919939&id=18c0b2f6c4&f_id=001dfbe0f0
